.App
    padding-bottom: 50px
.dashboard-container
    margin: 0 auto
    text-align: center
    .create-survey-button
        display: flex
        align-items: center
        p
            margin: 0px
            font-size: 12px
            display: flex
            align-items: center
            position: relative
            top: 1px
            font-weight: 600
    .top
        .studies-search
            margin-bottom: 20px
            *:focus 
                outline: none
            
            .search-container
                display: flex
                flex-basis: 100%
                align-items: center
                .search-icon
                    margin-bottom: 0px !important

        button
            flex-basis: 200px
        h1
        .button-container
            position: absolute
            right: 0px
            display: flex
            align-items: center
            height: 100%
    .CreateSurveyLink
        color: black
    p.no-surveys
        font-size: 12px
        font-style: italic