.App
    padding-bottom: 50px
.dashboard-container
    width: 90%
    margin: 0 auto
    text-align: center
    .create-survey-button
        display: flex
        align-items: center
        p
            margin: 0px
            font-size: 12px
            display: flex
            align-items: center
            position: relative
            top: 2px
            font-weight: 600
    .top
        display: flex
        position: relative
        justify-content: space-evenly
        h1
        .button-container
            position: absolute
            right: 0px
            display: flex
            align-items: center
            height: 100%
    .CreateSurveyLink
        color: black
    p.no-surveys
        font-size: 12px
        font-style: italic