.downloadButton {
    display: inline-block !important;
  }
  .ui.placeholder.segment .button.downloadData {
    margin-top: 20px;
  }
  .file-upload-section .file {
    text-align: left;
  }
  .file-upload-section .ui.icon.header {
    text-align: left;
  }
  
  #title {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  #row {
    text-align: center;
  }
  