.App
    min-height: 99vh
    background: #ebebeb


#errorContainer
    position: fixed
    bottom: 20px
    left: 0px
    width: 100%
    z-index: 99
    text-align: center
    color: white
    display: inline
    margin: 0px
    padding: 10px
    border-radius: 5px
    width: 200px
    display: none
    font-weight: 600

.App

